@media (max-width: 1450px) {
    .banner {
        justify-content: center;
    }
}

@media (max-width: 1400px) {
    .main img {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.0em;
}

h1 {
    font-size: 1.3em;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.0em;
    }
}

h2 {
    font-size: 1.2em;
    margin-top: 4px;
    margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
h2 {
    font-size: 1.5em;
    margin-top: 4px;
    margin-bottom: 4px;
    /* background-color: brown; */
}
}

p {
    font-size: 0.95em;
    text-wrap: pretty;
    margin-top: 5%;
    margin-bottom: 5%;
    /* background-color: yellow; */
}

@media screen and (min-width: 768px) {
p {
    font-size: 1.3em;
    text-wrap: pretty;
    margin-top:10px;
    margin-bottom: 10px;
}
}


li {
    margin-bottom: 1%;
    font-size: 0.95em;
}

@media screen and (min-width: 768px) {
li {
    margin-bottom: 1%;
    font-size: 1.3em;
}
}

ul {
    padding-left: 7%;
    margin-top: 2px;
    margin-bottom: 3%;
}


.nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: royalblue;
    color: white;
}

.brand {
    margin-right: auto;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .brand {
        margin-right: auto;
        font-size: 2.0em;
        text-decoration: none;
        color: white;
        font-weight: 400;
    }
}

.nav a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .nav a {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        margin: 0 20px;
    }
}

/** Flexbox for banner with 2 columns, 1 img and 1 body div **/
section.banner {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #bbe1f8;
    /* background-color: aqua; */
}

/** Width defaults to 50% but stops shrinking at 800 px. Will grow only portionally at 50%. **/
.banner img {
    width: 50%;
    min-width: 800px;
}

@media (max-width: 1450px) {
    .banner img {
        display: none;
    }
}

/** Width set and not permitted to shrink, i.e., fixed width **/
.banner-body {
    padding: 0 3%;
    width: 260px;
    flex-shrink: 0;
    /* font-size: 0.6em; */
    /* background-color:brown; */
}

@media screen and (min-width: 768px) {
    .banner-body {
        padding: 0 3%;
        width: 600px;
        flex-shrink: 0;
        /* font-size: 1.1em; */
        /* background-color:brown; */
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .button-wrapper {
        display: flex;
        justify-content: flex-start;
    }
}


.jump-to-contact-button {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 5% 7%;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}

@media screen and (min-width: 768px) {
.jump-to-contact-button {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 3% 6%;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}
}


.main {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}

@media screen and (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        /* background-color: blue; */
    }
}

.main section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0;
    gap: 0;
    /* font-size: 0.6em; */
    /* background-color: brown; */
}

@media screen and (min-width: 768px) {
    .main section {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 70px;
        padding: 0px 30px;
        /* font-size: 1.1em; */
        /* background-color: brown; */
    }
}

.highlight {
    background-color: #faf4e8;
    border-radius: 8%;
    padding: 3% 8% 5% 8%;
}

@media screen and (min-width: 768px) {
    .highlight {
        background-color: #faf4e8;
        align-content: center;
        max-width: 60%;
        border-radius: 50px;
        padding: 2% 5%;
    }
}

.about {
    align-content: center;
    width: 95%;
    /* margin: 0; */
    /* padding: 0; */
    /* padding-bottom: 1%; */
    /* background-color: blueviolet; */
}

@media screen and (min-width: 768px) {
    .about {
        align-content: center;
        max-width: 45%;
        padding-bottom: 1%;
        /* background-color: blueviolet; */
    }
}

@media (min-width: 1400px) {
    .about {
        align-content: center;
        max-width: 80%;
        padding-bottom: 1%;
        /* background-color: blueviolet; */
    }
}

.main img {
    max-width: 40%;
    height: auto;
    border-radius: 30px;
}


section.contact {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    /* font-size: 0.6em; */
    text-align: center;
    background-color: #bbe1f8;
}

@media screen and (min-width: 768px) {
    section.contact {
        margin: 0 auto;
        padding-top: 5px;
        padding-bottom: 20px;
        /* font-size: 1.1em; */
        text-align: center;
        background-color: #bbe1f8;
    }
}

div.contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    div.contact {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        /* background-color: blue; */
    }
}

.contact-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

@media screen and (min-width: 768px) {
    .contact-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto;
        gap: 30px;
    }
}

.contact-button {
    background-color: royalblue;
    border: none;
    color: white;
    margin: 0 auto;
    padding: 3% 7%;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}

@media screen and (min-width: 768px) {
    .contact-button {
        background-color: royalblue;
        border: none;
        color: white;
        margin: 0;
        padding: 15px 25px;
        font-size: 1.1em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 40px;
    }
}