@media (max-width: 1450px) {
    .banner img {
        display: none;
    }

    .banner {
        justify-content: center;
    }
}

@media (max-width: 1500px) {
    .main img {
        display: none;
    }
}

html {
    scroll-padding-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: larger;
}

section {
    margin-bottom: 50px;
}

.nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
}

.brand {
    margin-right: auto;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.2em;
}

/** Flexbox for banner with 2 columns, 1 img and 1 body div **/
section.banner {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #bbe1f8;
    /* background-color: aqua; */
}

/** Width defaults to 50% but stops shrinking at 800 px. Will grow only portionally at 50%. **/
.banner img {
    width: 50%;
    min-width: 800px;
}

/** Width set and not permitted to shrink, i.e., fixed width **/
.banner div {
    padding: 0 70px;
    width: 500px;
    flex-shrink: 0;
    /* background-color:brown; */
}

div.main {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    /* background-color: blue; */
}

.main section {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 0px 30px;
    /* background-color: brown; */
}

.main div {
    align-content: center;
    /* padding: 0px 30px; */
    max-width: 50%;
    min-width: 400px;
    /* background-color: blueviolet; */
}
.main img {
    max-width: 35%;
    /* width: 100%; */
    height: auto;
    border-radius: 30px;
}

.highlight {
    background-color: #faf4e8;
    border-radius: 50px;
    padding: 50px 100px;
}

section.contact {
    margin: 0 auto;
    /* padding: 20px 0; */
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #bbe1f8;
}

.contact-button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
}